{% extends 'pages/base.html' %}
{%load static %}
{% load cart_tag %}
{%load custom_fliter%}


<

    <!-- Start Main Top -->
    <!-- End Main Top -->

    <!-- Start Main Top -->
    
    <!-- End Main Top -->

    <!-- Start Top Search -->
{% block body %}
   

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form method="get" action="/search/">
                                <input class="form-control" name="query" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3 style="font-size: 24px">Danh mục</h3>
                          
                            </div>  
                            
                             <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                          {% for itemCat in categoriesP %}
                                <div class="list-group-collapse sub-men" style="padding: 13px 4px;">
                                   <a class="list-group-item list-group-item-action"   href="#{{itemCat.catep_id}}" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men1" style="font-size:16px;color:#212121">{{ itemCat.catep_name }} <small class="text-muted"></small>
								</a>
                                    <div class="collapse" id="{{itemCat.catep_id}}" data-parent="#list-group-men">
                                        <div class="list-group" >
                                         {% for itemchild in itemCat.catep_id|getChilds %}
                                            <a href="product{{itemchild.catec_id}}" style="font-size: 17px;" class="list-group-item list-group-item-action action">{{itemchild.catec_name}} <small class="text-muted"></small></a>
                                            {% endfor %}
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                              
                            </div>
                            
                        </div>
                       
                      
                       
                         
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            {% comment %} <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
									<option data-display="Select">Nothing</option>
									<option value="1">Popularity</option>
									<option value="2">High Price → High Price</option>
									<option value="3">Low Price → High Price</option>
									<option value="4">Best Selling</option>
								</select>
                                </div>
                                <p>Showing all 4 results</p>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-12 col-sm-4 text-center text-sm-right">
                                
                            </div> {% endcomment %}
                            {% if title %}
                            <h1 style="margin-left:300px;font-size:35px;">{{title.catec_name}}</h1>
                            {%else %}
                            <h1 style="margin-left:300px;font-size:35px;">Tất cả sản phẩm</h1>
                            {%endif%}

                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        
                                        {% for itempro  in products  %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">{{itempro.get_status_display}}</p>
                                                    </div>
                                                    <img src="{% static 'media/' %}{{itempro.product_image1}}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="shop-detail{{itempro.product_id}}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="{%url 'shop-detail' itempro.product_id%}">Chi tiết sản phẩm</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4><a href="{%url 'shop-detail' itempro.product_id %}">{{itempro.product_name}}</a></h4>
                                                    <h5> {{itempro.product_price}} đ</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                       
                                    </div>
                                </div>
                          
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <!-- Start Instagram Feed  -->
    

{%endblock%}