{% extends "pages/base.html" %}
{% load cart_tag %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/main1.css' %}">
<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Gía</th>
                                    <th>Số lượng</th>
                                    <th>Tổng cộng</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key,value in request.session.cart.items %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img class="img-fluid" src="{% static 'media/' %}{{value.image}}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{%url 'shop-detail' value.product_id%}">
									{{value.name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{value.price}}đ</p>
                                    </td>
                                    <td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{value.quantity}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}"> - </a>
								</div>
							</td>
                                    <td class="total-pr">
                                        <p>{{ value.price|multiply:value.quantity }}đ</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'item_clear' key %}">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                              {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    {% comment %} <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box" >
                        <a href="{%url 'cart_clear'%}"><input value="Xóa giỏ hàng" type="submit"></a>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Số tiền thanh toán</h3>
                        <div class="d-flex">
                            <h4>Tổng tiền các sản phẩm</h4>
                            <div class="ml-auto font-weight-bold">{{cart_total_amount}} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Phí vận chuyển</h4>
                            <div class="ml-auto font-weight-bold">30000</div>
                        </div>
                       
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Tổng tiền</h5>
                            <div class="ml-auto h5">{{cart_total}} </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="{%url 'checkout' %}" class="ml-auto btn hvr-hover">Đặt hàng</a> </div>
            </div>

        </div>
    </div>
{% endblock %}